@import '../../settings';

.board-columns {
    display: flex;
    margin: 0 $gap $gap 0;
    gap: $gap;
    overflow-x: auto;

    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
  
  }